table {
  border-collapse: collapse;
  width: 100%;
  background-color: black;
  color: white;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: none; /* Remove the border */
}

th {
  background-color: #222;
  color: white;
  border-bottom: none;
}

.red-line {
  border-bottom: 1px solid red;
}

.yellow-text {
  color: yellow;
}

.black {
  color :black;
}